@import "../../../../assets//styles/common.scss";
.filter_heading {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0 1.6rem 0;
  align-items: center;
  .title_filter {
    p {
      @extend .value_common;
      font-size: 2rem;
      font-family: Nunito;
      font-weight: 600;
      margin-left: 0.8rem;
    }
  }
  .caret_down_icon {
    cursor: pointer;
    transition: 0.4s;
  }
}

.rotate_90deg {
  transform: rotate(-90deg);
}
