.number_page_list {
  text-align: center;
  background-color: #eee;
  border-radius: 35px;
  width: 60%;
  margin: 0 auto;
  margin-top: 3.2rem;
  .list_number {
    .page_number {
      transition: all 0.2s;
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;
      margin-left: 0.2rem;
      span {
        display: inline-block;
        padding: 0 2.5rem;
        height: 5rem;
        line-height: 5rem;
        color: #595959;
        font-size: 16px;
        -webkit-transition: 400ms ease;
        -o-transition: 400ms ease;
        transition: 400ms ease;
        cursor: pointer;
        &:hover {
          background-color: #4877f8;
          color: #ffffff;
        }
      }
      span.special_page {
        &:hover {
          color: #4877f8;
        }
        background-color: transparent;
      }
    }
  }
}

.active {
  color: #ffffff !important;
}

.actived {
  background-color: #4877f8;
  color: #ffffff !important;
}
