.Header {
    z-index: 99;
    min-height: 120px;
    &Brand {
        font-size: 28px;
        font-weight: 800;
        padding-left: 78px;
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 30px;
        &::before {
            width: 45px;
            height: 45px;
            content: "";
            background-image: url("../../logo.png");
            background-size: cover;
            background-repeat: no-repeat;

            left: 20px;
            display: flex;
            position: absolute;
            align-items: center;
        }
    }
}
