.PrimaryButton {
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 10px;
    border: none;
    padding: 1.3rem 1.7rem;
    font-size: 1.6rem;
    font-weight: 700;
    &:hover {
        cursor: pointer;
    }
}
