.slide_image {
  position: absolute;
  inset: 0px;
  border: none;
  background: transparent;
  overflow: hidden;
  border-radius: 0px;
  outline: none;
  padding: 0px;
  .gallery_image {
    outline: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    touch-action: none;
    .gallery {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.35s;
        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          max-width: none;
          transform: translate3d(0px, 0px, 0px) scale3d(0.785333, 0.785333, 1);
        }
      }
      .active {
        opacity: 1;
        visibility: visible;
      }
      .preactive {
        transform: translate3d(0, 200px, 0);
      }
    }
    .btn {
      position: relative;
      width: 100%;
      height: 100%;
      .btn_slide {
        cursor: pointer;
        position: absolute;
        padding: 1rem;
        background: #eeee;
      }
      .btn_next {
        left: 5%;
        top: 50%;
      }
      .btn_previous {
        right: 5%;
        top: 50%;
      }
      .btn_close {
        background: transparent;
        right: 5%;
      }
    }
  }
}
