.room_item_card {
  cursor: pointer;
  width: 368px;
  padding-bottom: 1.6rem;
  a.room_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .room_img {
      width: 100%;
      height: 15.2rem;
      margin-bottom: 1.4rem;
    }
    .title_room_name {
      p.room_title {
        color: #333333;
        margin-bottom: 0.8rem;
        height: 4.2rem;
      }
    }
  }
  .information_room_v {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .district {
      p.district_name {
        font-family: Nunito-SemiBold;
        font-size: 1.6rem;
        color: #666666;
      }
    }
    .price_room {
    }
  }
}
