.room_item_h {
  width: auto;
  height: 177px;
  display: flex;
  align-items: center;
  transition: filter 0.35s;
  color: #666666;
  margin-bottom: 0.3rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #cdcdcd;
  .img {
    img {
      width: 216px;
      height: 152px;
      border-radius: 0.6rem;
    }
  }
  &:hover {
    filter: brightness(110%);
  }
  .information_detail_room {
    align-self: center;
    flex-grow: 1;
    .crucial_information {
      display: flex;
      align-items: center;
    }
    .information {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.sizeIcon {
  width: 16px;
  height: 16px;
}
.text_information {
  margin-left: 0.8rem;
}

.fz24 {
  font-size: 2.4rem;
}

.big_price_block {
  margin-left: 3.2rem;
}

p.room_title {
  font-family: Nunito;
  font-weight: 600;
  color: #000000;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 2.2rem;
  width: 90%;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.room_img {
  position: relative;
  width: 21.6rem;
  height: 15.2rem;
  margin-right: 1.6rem;
  border-radius: 0.8rem;
  .confirmed_room {
    position: absolute;
    top: 0;
    width: 100%;
    height: 28%;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 8px 8px 0 0;
    img {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 18px;
      height: 21px;
    }
  }
}
