.cardDistrict {
  width: 17.6rem;
  height: 12.8rem;
  position: relative;
  border-radius: 1.2rem;
  transition: filter 0.35s;
  cursor: pointer;
  &:hover {
    filter: brightness(110%);
  }
  .bottomDarkLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    .name_district {
      font-family: Nunito-Bold;
      font-size: 1.4rem;
      color: #ffffff;
      line-height: 2rem;
      margin-bottom: 1.2rem;
    }
  }
}
