.snake_loading {
  width: 144px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.snake_loading span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #9b5986;
  animation: Loading 3s infinite ease-in-out;
}
.snake_loading span:nth-of-type(2) {
  left: 30px;
  animation-delay: 0.2s;
}
.snake_loading span:nth-of-type(3) {
  left: 60px;
  animation-delay: 0.4s;
}
.snake_loading span:nth-of-type(4) {
  left: 90px;
  animation-delay: 0.6s;
}
.snake_loading span:last-of-type {
  left: 120px;
  animation-delay: 0.8s;
}

@keyframes Loading {
  0% {
    height: 20px;
    transform: translateY(0);
    background-color: #9b59b6;
  }
  50% {
    height: 20px;
    transform: translateY(50px);
    background-color: #3498d6;
  }
  100% {
    height: 20px;
    transform: translateY(0);
    background-color: #9b59b6;
  }
}
