.list_confirmed_room {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 3.2rem 0 2.4rem 0;
  .list_confirmed_room_card {
    background-color: #f6f7f9;
    padding: 1.6rem 3.2rem 0 3.2rem;
  }
}
