@import "./../common.scss";

.information_room_detail {
  .title_name {
    @extend .value_common;
    font-size: 2rem;
    font-weight: 400;
    margin: 2.4rem 0 0.8rem 0;
  }
  .title {
    @extend .value_common;
    font-weight: 600;
    text-transform: none;
  }
}

.description_capacity {
  display: flex;
  // margin-bottom: 2.4rem;
}
