.header {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  .container {
    margin: 0 auto;
    padding: 0 3.2rem;
    height: inherit;
    display: flex;
    max-width: 1440px;
    .logo_search {
      display: flex;
      align-items: center;
      width: 100%;
      .logo {
        vertical-align: middle;
        margin-right: 7rem;
        img {
          width: 75%;
        }
      }
    }
  }
}

.popup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .upload_room {
    margin-right: 2rem;
  }
}

.popup .login,
.popup .register,
.popup .upload_room {
  font-size: 1.5rem;
  font-weight: 600;
  a {
    color: #000;
    transition: 0.3s;
    &:hover {
      color: #02aab0;
    }
  }
}

.popup .register {
  margin-left: 2rem;
}

.header__line {
  height: 4rem;
  background-color: #02aab0;
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dflex1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.text-style {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 0.4rem;
}
