.banner-blockquote {
    text-align: center;
    padding: 10em 0 0;
}
.banner-blockquote {
    height: 500px;
    padding: 0 3.2rem;
}
.banner-blockquote q {
    color: #e6ebff;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.7;
    transition: 0.35s;
}
.banner-blockquote address {
    font-size: 2.5em;
    color: #fff;
    transition: 0.35s;
    text-align: right;
}

.banner-blockquote address {
    margin-top: 1em;
}

.banner-blockquote button {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(119, 177, 169);
    outline: none;
    font-size: 1.8em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    transition: 0.35s;
}

.banner-blockquote button:hover {
    opacity: 1;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

.banner-blockquote blockquote {
    border: 0;
    margin: 0;
    padding: 0;
}

.Hero__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    padding-top: 4.2rem;
}
.Hero__des {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    width: 65rem;
}
