.Footer{
    color: rgba(0, 0, 0, 0.5);
    height: 10.5rem;
    border-top: 0.5px solid rgba(34, 34, 34, 0.8);
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 2.3rem;
    background-color: #fff;
    //position: fixed;
    bottom: 0;
    width: 100%;
    & p{
        margin: 0;
        margin-left: auto;
        line-height: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}