.Footer{
    color: rgba(0, 0, 0, 0.5);
    height: 105px;
    border-top: 0.5px solid rgba(34, 34, 34, 0.8);
    font-size: 14px;
    font-weight: 500;
    padding-top: 23px;
    & p{
        margin: 0;
        margin-left: auto;
        line-height: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}