@import "../../../assets//styles//common.scss";
.heading_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem 3.2rem 3.2rem;
  background: #ffffff;
  .title_name {
    @extend .value_common;
    font-size: 2.4rem;
    margin-left: 0.8rem;
    font-weight: 700;
    font-family: Nunito;
    margin-left: 0;
  }
  .apply_button {
    span.apply {
      @extend .value_common;
      font-size: 1.6rem;
      color: 02aab0;
      font-family: Nunito;
      font-weight: 600;
    }
    height: 32px;
    padding: 4px 12px;
    border: 1px solid #02aab0;
    border-radius: 16px;
    outline: 0;
    cursor: pointer;

    &:hover {
      filter: brightness(150%);
    }
  }
}
