$text_color_common: #333333;
$text_color_title: #666666;
$margin_left_normal: 0.8em;
$margin_left_element: 3.2em;
$color_room_price: #f73486;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  //background: #f6f5f2;
}

.test {
  margin-left: 0.8rem;
  color: $text_color_common;
}
