.widget_heading_title {
  font-size: 3.2rem;
}
.trending_research {
  margin-top: 3.2rem;
  .list_suggest_district {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
