.Banner {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(
        91.75deg,
        #02aab0 0%,
        rgba(0, 205, 172, 0.51) 47.4%,
        #02aab0 89.58%
    );
    height: 179px;
    &Sologan{
        margin-top: 0;
        margin-bottom: 14px;
        margin-left: 40px;
        padding-top: 60px;
        font-size: 20px;
        font-weight: 800;
    }
    & span{
        margin-left: 40px;
        font-size: 16px;
        font-weight: 700;
    }
}
