.gallery {
  height: 500px;
  margin: 0 auto;
  padding-top: 3.2rem;
  .gallery_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
    gap: 0 0.2rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    .mini_img {
      .grid_all_img {
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 49.9% 49.9%;
        gap: 0.2rem;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.position_relative {
  position: relative;
}
