.remain_number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  span {
    font-family: Nunito-SemiBold;
    font-size: 4.8rem;
    color: #ffffff;
    letter-spacing: 0;
  }
}
